footer.footer
  .container
    .footer__logo
      img(src="/pages/img/logo.png", alt="Constructo logo")
      span CONSTRUCTO

    .footer__column.footer__column--contact
      h3 Контактна інформація
      p Адреса: 
        a(href="#") м. Київ, вул. Будівельна, 21
      p Телефон: 
        a(href="tel:+380671234567") +38 (067) 123 45 67
      p Email: 
        a(href="mailto:support@constructo.ua") support@constructo.ua

    .footer__column
      h3 Навігація
      ul
        li: a(href="#about") Про нас
        li: a(href="#services") Послуги
        li: a(href="#calculator") Калькулятор
        li: a(href="#faq") Часті запитання
        li: a(href="#blog") Блог / Новини

    .footer__column.footer__column--legal
      h3 Юридична інформація
      ul
        li: a(href="#privacy") Політика конфіденційності
        li: a(href="#terms") Умови користування
        li: a(href="#licenses") Ліцензії та сертифікати

    .footer__column.footer__column--social
      h3 Соціальні мережі
      ul
        li: a(href="https://youtube.com") YouTube
        li: a(href="https://instagram.com") Instagram
        li: a(href="https://linkedin.com") LinkedIn
