header.header
  .container
    .header__logo
      img(src="/pages/img/logo.png", alt="Constructo logo")
      span CONSTRUCTO
    nav.header__nav
      ul
        li
          a(href="#projects") Приклад проектів
        li
          a(href="#calculation") Розрахунок
        li
          a(href="#definition") Визначення
    .header__menu
      button.menu-button
        span
        span
        span
